{% extends 'base.html' %}

{% block content %}
  <h1>Articles</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}">[CREATE]</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">[새 글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <hr>
  {% for article in articles %}
    <p>작성자 : 
      <a href="{% url 'accounts:profile' article.user.username %}">{{ article.user }}</a>
    </p>
    <p>글 번호 : {{ article.pk }}</p>
    <p>글 제목 : {{ article.title }}</p>
    <p>글 내용 : {{ article.content }}</p>
    <div>
      <form class="like-form" data-article-id="{{ article.pk }}">
        {% csrf_token %}
        {% if user in article.like_users.all %}
          <button id="like-button-{{ article.pk }}">좋아요 취소</button>
        {% else %}
          <button id="like-button-{{ article.pk }}">좋아요</button>
        {% endif %}
      </form>
      <p>
        <span id="like-count-{{ article.pk }}">{{ article.like_users.all|length }}</span>명이 이 글을 좋아합니다.
      </p>
    </div>
    <a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a>
    <hr>
  {% endfor %}
{% endblock content %}

{% block script %}
<script>
  // 1. form 태그를 class 선택자로 선택
  const forms = document.querySelectorAll('.like-form')
  // console.log(forms)
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  // 2. for..of / forEach 여러 forms를 반복을 돌면서 axios를 요청할 수 있도록 함
  forms.forEach(form => {
    // console.log(form)
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      // console.log(event.target.dataset.articleId)
      const articleId = event.target.dataset.articleId

      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/articles/${articleId}/likes/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then(response => {
          // console.log(response.data)
          const liked = response.data.liked
          const likeButton = document.querySelector(`#like-button-${articleId}`)
          const likeCount = document.querySelector(`#like-count-${articleId}`)
          const count = response.data.count
          // const { liked, count } = response.data

          if (liked === true) {
            likeButton.innerText = '좋아요 취소'
          } else {
            likeButton.innerText = '좋아요'
          }

          // likeButton.innerText = liked ? '좋아요 취소' : '좋아요'

          likeCount.innerText = count
        })
    })
  })

</script>
{% endblock script %}
