<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <nav>
      <a href="{% url 'crawlings:index' %}">Home</a>
      {% if user.is_authenticated %}
        <form action="{% url 'accounts:logout' %}" method="POST">
          {% csrf_token %}
          <button>로그아웃</button>
        </form>
        <p>안녕, {{ user }} 야!</p>
      {% else %}
        <a href="{% url 'accounts:signup' %}">회원가입</a>
        <a href="{% url 'accounts:login' %}">로그인</a>
      {% endif %}

    </nav>

    {% block content %}
    {% endblock content %}
</body>
</html>