{% extends "articles/base.html" %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>안녕하세요! {{name}}</h1>
</body>
</html> {% endcomment %}
{% block style %}
h1 {
  color: red,
}
{% endblock style %}


{% block content %}
  <h1>{{ name }}님, 안녕하세요!</h1>
  <a href={% url 'dinner' %}>dinner</a>
  <a href={% url 'search' %}>search</a>
  <a href={% url 'throw' %}>throw</a>
{% endblock content %}
