<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <!-- if else -->
      <p v-if="isSeen">true일때 보여요</p>
      <p v-else>false일때 보여요</p>
      <button @click="isSeen = !isSeen">토글</button>

      <!-- else if -->
      <div v-if="name === 'Alice'">Alice입니다</div>
      <div v-else-if="name === 'Bella'">Bella입니다</div>
      <div v-else-if="name === 'Cathy'">Cathy입니다</div>
      <div v-else>아무도 아닙니다.</div>

      <!-- v-if on <template> -->
      <template v-if="name === 'Cathy'">
        <div>Cathy입니다</div>
        <div>나이는 30살입니다</div>
      </template>
      <!-- v-show -->
      <div v-show="isShow">v-show</div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp, ref } = Vue;

      const app = createApp({
        setup() {
          const isSeen = ref(true);
          const name = ref("Cathy");
          const isShow = ref(false);

          return {
            isSeen,
            name,
            isShow,
          };
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
