<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <!-- [Bad] v-for with v-if -->
      <!-- 동일 요소에 v-for와 v-if를 함께 사용하지 않는다. -->
      <!-- <ul>
        <li v-for="todo in todos" v-if="!todo.isComplete" :key="todo.id">
          {{ todo.name }}
        </li>
      </ul> -->

      <!-- [Good] computed 활용 -->
      <!-- 해결책 1. computed를 활용해 이미 필터링 된 목록을 반환하여 반복 -->
      <ul>
        <li v-for="todo in completeTodos" :key="todo.id">{{ todo.name }}</li>
      </ul>

      <!-- [Good] template 활용 -->
      <!-- 해결책 2. template 요소를 사용하여 v-for와 v-if의 위치를 분리 -->
      <ul>
        <template v-for="todo in todos">
          <li v-if="!todo.isComplete">{{ todo.name }}</li>
        </template>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp, ref, computed } = Vue;

      const app = createApp({
        setup() {
          let id = 0;

          const todos = ref([
            { id: id++, name: "복습", isComplete: true },
            { id: id++, name: "예습", isComplete: false },
            { id: id++, name: "저녁식사", isComplete: true },
            { id: id++, name: "노래방", isComplete: false },
          ]);

          const completeTodos = computed(() => {
            return todos.value.filter((todo) => !todo.isComplete);
          });

          console.log(completeTodos.value);
          return {
            todos,
            completeTodos,
          };
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
