{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>여행지 버킷리스트</h1>

  <p><span>{{ bucket_item.pk }}번 여행지 | </span> {{ bucket_item.destination_name }}</p>
  <p>작성 시간 : {{ bucket_item.created_at }}</p>
  <hr>
  {% if bucket_item.image %}
    <img src="{{ bucket_item.image.url }}" alt="{{ bucket_item.image_description }}">
  {% else %}
    <img src="{% static "assets/noimage.png" %}" alt="no-image">
  {% endif %}
  <p>{{ bucket_item.content }}</p>
  <hr>
  <a href="{% url 'buckets:update' bucket_item.pk %}">[UPDATE]</a>
  <form action="{% url 'buckets:delete' bucket_item.pk %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-danger">[DELETE]</button>
  </form>
  <a href="{% url 'buckets:index' %}">[BACK]</a>
{% endblock content %}

