<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>게시글 상세 페이지</h1>
  <p>게시글 번호 : {{ article.pk }}</p>
  <p>제목 : {{ article.title }}</p>
  <p>생성 시간 : {{ article.created_at }}</p>
  <p>수정 시간 : {{ article.updated_at }}</p>
  <hr>
  <p>{{ article.content }}</p>
  <hr>
  <form action="{% url "articles:delete" article.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form>
  <a href="{% url "articles:index" %}">[BACK]</a>

</body>
</html>