{% extends "base.html" %}

{% block content %}
  <h1>맛집 상세 정보</h1>
  <p>식당 이름: {{ restaurant.name }}</p>
  <p>식당 설명: {{ restaurant.description }}</p>
  <p>식당 위치: {{ restaurant.address }}</p>
  <p>식당 번호: {{ restaurant.phone_number }}</p>
  <hr>

  <a href="{% url "restaurants:edit" restaurant.pk %}">[UPDATE]</a>

  <form action="{% url "restaurants:delete" restaurant.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value='DELETE'>
  </form>
  <hr>

  <a href="{% url "restaurants:index" %}">[BACK]</a>
{% endblock content %}
