{% extends "base.html" %}

{% block content %}
<h1>
  {{ person.username }}님의 프로필 페이지입니다!
</h1>

{% if not person.email %}
<p>아직 이메일을 작성하지 않았습니다.</p>
{% else %}
{{ person.email }}
{% endif %}
<hr>
{% if request.user == person %}
<a href="{% url "accounts:update" %}">[USER_UPDATE]</a>
<div>
  <form action="{% url "accounts:delete" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="SIGNOUT">
  </form>
</div>
{% endif %}
<hr>
<h2>{{ person.username }}님이 선택한 사진들</h2>
<ul>
  {% for like_diary in like_diaries %}
  <li>{{ like_diary.content }}</li>
  {% if like_diary.picture %}
  <img src="{{ like_diary.picture.url }}" alt="" style="width: 200px; height: auto;">
  {% endif %}
  {% endfor %}
</ul>
{% endblock content %}