<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>CREATE</h1>
  <form action="{% url "articles:create" %}" method="POST">
    {% csrf_token %}
    {% comment %} {{ form }} {% endcomment %}
    {{ form.as_p }}
    {% comment %} {{ form.as_div }} {% endcomment %}
    {% comment %} {{ form.as_table }} {% endcomment %}
    {% comment %} {{ form.as_ul }} {% endcomment %}
    
    {% comment %} <div>
      <label for="title">Title: </label>
      <input type="text" name="title" id="title">
    </div>
    <div>
      <label for="content">Content: </label>
      <textarea name="content" id="content"></textarea>
    </div> {% endcomment %}
    <input type="submit">
  </form>
</body>
</html>
